[ { hs_store, [] }
, { mnesia
  , [ { debug, true }
    , { ram_copies, here }
    ]
  }

, { mnesia
  , [ { debug, true }
    , { ram_copies, here }
    ]
  }

, { sumo_db
  , [ { log_queries, true }
    , { query_timeout, 30000 }
    , { wpool_opts, [ { overrun_warning, 100 } ] }
    , { storage_backends, [] }
    , { stores
      , [ { hs_store_mnesia
          , sumo_store_mnesia
          , [ { workers, 10 }
            , { ram_copies, here }
            ]
          }
        ]
      }
    , { docs
      , [ { hs_readings, hs_store_mnesia, #{ module => hs_readings } }
        ]
      }
    , { events
      , [
        ]
      }
    ]
  }

, { lager, 
    [ { log_root, "log" },
      { handlers, [ { lager_file_backend, [ {file, "warning.log"}
                                          , {level, warning} 
                                          ] }
                  , { lager_file_backend, [ {file, "error.log"}
                                          , {level, error} 
                                          ] }
                  , { lager_file_backend, [ {file, "debug.log"}
                                          , {level, debug} ]
                    }
                  , { lager_file_backend, [ {file, "info.log"}
                                          , {level, info} ]
                    }
                  ]
      }
    ]
  }

, { sasl
  , [ { sasl_error_logger, false }
    , { errlog_type, error }
    ]
  }
].

%% vim:set ft=erlang:
